In [3]:
#Importing libraries: pandas, NumPy, and os
import pandas as pd
import numpy as np
import os

In [21]:
#Creating path
path = r'C:\Users\isaac\Documents\CareerFoundry\2. Data Inmersion\4. Python Fundamentals for Data Analysts\07-2024 Instacart Basket Analysis\02 Data\Prepared Data\4.3_orders_products'

• Importing data frames:

In [23]:
#Importing data orders.csv using path_join function
df_ords = pd.read_csv(os.path.join(path, 'orders.csv'), index_col = False)

#Importing data products.csv using path_join function
df_prods = pd.read_csv(os.path.join(path, 'products.csv'), index_col = False)

--------------------------------------------------------------------------------------------------

• Wrangling Procedures:

In [39]:
#looking at df_ords format and structure:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [41]:
df_ords.dtypes

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [43]:
# Converting 'order_id' to string format
df_ords['order_id'] = df_ords['order_id'].astype(str)

In [45]:
# Convert 'user_id' to string format
df_ords['user_id'] = df_ords['user_id'].astype(str)

• Looking for a variable in your df_ords dataframe with an unintuitive name and change its name

In [50]:
# Renaming the 'order_dow' column to 'order_day_of_week' without overwriting the dataframe
df_ords_renamed = df_ords.rename(columns={'order_dow': 'order_day_of_week'})

• Determining the busiest hour for placing orders:

In [53]:
# Calculating the frequency of orders for each hour of the day
hourly_order_counts = df_ords['order_hour_of_day'].value_counts().sort_index()

# Identify the busiest hour for placing orders
busiest_hour = hourly_order_counts.idxmax()
busiest_hour_count = hourly_order_counts.max()

print(f"The busiest hour for placing orders is {busiest_hour}:00 with {busiest_hour_count} orders.")

The busiest hour for placing orders is 10:00 with 288418 orders.

• Determining the meaning behind a value of 4 in the "department_id"

In [64]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [67]:
# Data dictionary:
df_dep = pd.DataFrame({
    'department_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21],
    'department': [
        'frozen', 'other', 'bakery', 'produce', 'alcohol', 'international', 'beverages',
        'pets', 'dry goods pasta', 'bulk', 'personal care', 'meat seafood', 'pantry',
        'breakfast', 'canned goods', 'dairy eggs', 'household', 'babies', 'snacks', 'deli', 'missing'
    ]
})

# Finding the meaning of department_id = 4
department_name = df_dep.loc[df_dep['department_id'] == 4, 'department'].values[0]
print(f"The department_id 4 corresponds to the '{department_name}' department.")

The department_id 4 corresponds to the 'produce' department.

• The sales team in your client’s organization wants to know more about breakfast item sales. Create a subset containing only the required information:

In [70]:
# Filtering the df_prods dataframe to include only rows where department_id is 14 (breakfast)
breakfast_items = df_prods[df_prods['department_id'] == 14]

# Displaying the subset
print(breakfast_items)

       product_id                                       product_name  \
27             28                                  Wheat Chex Cereal
33             34                                                NaN
67             68                            Pancake Mix, Buttermilk
89             90                                       Smorz Cereal
210           211   Gluten Free Organic Cereal Coconut Maple Vanilla
...           ...                                                ...
49330       49326                            Cereal Variety Fun Pack
49395       49391            Light and Fluffy Buttermilk Pancake Mix
49547       49543                          Chocolate Cheerios Cereal
49637       49633               Shake 'N Pour Buttermilk Pancake Mix
49667       49663  Ultra Protein Power Crunch Peanut Butter N' Ho...

       aisle_id  department_id  prices
27          121             14    10.1
33          121             14    12.2
67          130             14    13.7
89          121             14     3.9
210         130             14     3.6
...         ...            ...     ...
49330       121             14     9.1
49395       130             14     2.0
49547       121             14    10.8
49637       130             14    14.2
49667        57             14    10.2

[1116 rows x 5 columns]

• Details about products that customers might use to throw dinner parties. Items from the following departments: alcohol, deli, beverages, and meat/seafood:

In [73]:
# List of department_ids for dinner party items
dinner_party_departments = [5, 20, 7, 12]

# Filter the df_prods dataframe to include only rows where department_id is in the dinner_party_departments list
dinner_party_items = df_prods[df_prods['department_id'].isin(dinner_party_departments)]

# Display the subset
print(dinner_party_items)

       product_id                                    product_name  aisle_id  \
2               3            Robust Golden Unsweetened Oolong Tea        94
6               7                  Pure Coconut Water With Orange        98
9              10  Sparkling Orange Juice & Prickly Pear Beverage       115
10             11                               Peach Mango Juice        31
16             17                               Rendered Duck Fat        35
...           ...                                             ...       ...
49676       49672                          Cafe Mocha K-Cup Packs        26
49679       49675             Cinnamon Dolce Keurig Brewed K Cups        26
49680       49676                          Ultra Red Energy Drink        64
49686       49682                              California Limeade        98
49688       49684       Vodka, Triple Distilled, Twist of Vanilla       124

       department_id  prices
2                  7     4.5
6                  7     4.4
9                  7     8.4
10                 7     2.8
16                12    17.1
...              ...     ...
49676              7     6.5
49679              7    14.0
49680              7    14.5
49686              7     4.3
49688              5     5.3

[7650 rows x 5 columns]

How many rows does the last dataframe you created have? 
7650 rows

• Extract all the information you can about user 'user_id' (1)

In [81]:
# Filtering user_id 1 (now as a string)
user_1_data = df_ords[df_ords['user_id'] == '1']
print(user_1_data)

   order_id user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329       1    prior             1          2                  8
1   2398795       1    prior             2          3                  7
2    473747       1    prior             3          3                 12
3   2254736       1    prior             4          4                  7
4    431534       1    prior             5          4                 15
5   3367565       1    prior             6          2                  7
6    550135       1    prior             7          1                  9
7   3108588       1    prior             8          1                 14
8   2295261       1    prior             9          1                 16
9   2550362       1    prior            10          4                  8
10  1187899       1    train            11          4                  8

    days_since_prior_order
0                      NaN
1                     15.0
2                     21.0
3                     29.0
4                     28.0
5                     19.0
6                     20.0
7                     14.0
8                      0.0
9                     30.0
10                    14.0

• Providing basic stats about 'user_1'

In [84]:
# 1. Total Orders
total_orders = user_1_data.shape[0]

# 2. Order Frequency by Day of the Week
orders_by_dow = user_1_data['order_dow'].value_counts().sort_index()

# 3. Order Frequency by Hour of the Day
orders_by_hour = user_1_data['order_hour_of_day'].value_counts().sort_index()

# 4. Average Days Between Orders
average_days_between_orders = user_1_data['days_since_prior_order'].mean()

# 5. Order Set Distribution
order_set_distribution = user_1_data['eval_set'].value_counts()

# Displaying the results
print(f"Total Orders by user_1: {total_orders}")
print("\nOrder Frequency by Day of the Week (0=Sunday, 6=Saturday):")
print(orders_by_dow)
print("\nOrder Frequency by Hour of the Day:")
print(orders_by_hour)
print(f"\nAverage Days Between Orders: {average_days_between_orders:.2f} days")
print("\nOrder Set Distribution:")
print(order_set_distribution)

Total Orders by user_1: 11

Order Frequency by Day of the Week (0=Sunday, 6=Saturday):
order_dow
1    3
2    2
3    2
4    4
Name: count, dtype: int64

Order Frequency by Hour of the Day:
order_hour_of_day
7     3
8     3
9     1
12    1
14    1
15    1
16    1
Name: count, dtype: int64

Average Days Between Orders: 19.00 days

Order Set Distribution:
eval_set
prior    10
train     1
Name: count, dtype: int64

• Exporting df_ords dataframe as 'orders_wrangled.csv'

In [86]:
# Define the full file path
path_1 = r'C:\Users\isaac\Documents\CareerFoundry\2. Data Inmersion\4. Python Fundamentals for Data Analysts\07-2024 Instacart Basket Analysis\02 Data\Prepared Data\4.3_orders_products\orders_wrangled.csv'

# Export the df_ords dataframe to the specified path
df_ords.to_csv(path_1, index=False)

• Exporting the df_dep_t_new dataframe as 'departments_wrangled.csv

In [91]:
# Renaming the 'df_dep' dataframe
df_dep_t_new = df_dep

# Defining new full file path for exporting the dataframe
path_2 = r'C:\Users\isaac\Documents\CareerFoundry\2. Data Inmersion\4. Python Fundamentals for Data Analysts\07-2024 Instacart Basket Analysis\02 Data\Prepared Data\departments_wrangled.csv'

# Exporting the df_dep_t_new dataframe to the specified path
df_dep_t_new.to_csv(path_2, index=False)