In [17]:
#Importing libraries: pandas, NumPy, and os
import pandas as pd
import numpy as np
import os

In [21]:
#Importing the 'ords_prods_merge' pickle file
path = r'C:\Users\isaac\Documents\CareerFoundry\2. Data Inmersion\4. Python Fundamentals for Data Analysts\07-2024 Instacart Basket Analysis\02 Data\Prepared Data\4.3_orders_products\ords_prods_merge.pkl'
ords_prods_merge = pd.read_pickle(path)

In [13]:
#Checking 'ords_prods_merge' shape and head
ords_prods_merge.shape
ords_prods_merge.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,11.114836,196,1,0,both,Soda,77,7,9.0
1,2539329,1,1,2,8,11.114836,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5
2,2539329,1,1,2,8,11.114836,12427,3,0,both,Original Beef Jerky,23,19,4.4
3,2539329,1,1,2,8,11.114836,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7
4,2539329,1,1,2,8,11.114836,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0

----------------------------------------------------------------------------------------------------

• Creating subset to then create the “price_label” and “busiest_day” columns

In [23]:
#Creating a subset
df = ords_prods_merge

df.shape

(32404859, 14)

In [57]:
#Using '.loc' function to create “price_label” row & flags

In [25]:
df.loc[df['prices'] > 14.8, 'price_range_loc'] = 'High-range product'
df.loc[(df['prices'] <= 14.8) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [27]:
#Checking 'price_label' ranges counts

df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21607166
Low-range product     10126321
High-range product      671372
Name: count, dtype: int64

---------------------------------------------------------------------------------------------

In [29]:
#Creating “busiest_day” as a flag column throught a 'for-loops' function 

result = []

for value in df["order_dow"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [66]:
#result

In [97]:
df['busiest_day'] = result
df['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [99]:
#Checking the new df
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day
0,2539329,1,1,2,8,11.114836,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy
1,2539329,1,1,2,8,11.114836,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy
2,2539329,1,1,2,8,11.114836,12427,3,0,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy
3,2539329,1,1,2,8,11.114836,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy
4,2539329,1,1,2,8,11.114836,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy

----------------------------------------------------------------------------------------------------

• Creating a new column that labels the two busiest days and the two slowest days of the week

In [31]:
#Calculating the order frequency for each day of the week
order_freq = df['order_dow'].value_counts().sort_values(ascending=False)

#Identifying the two busiest and two slowest days
busiest_days = order_freq.index[:2].tolist()
slowest_days = order_freq.index[-2:].tolist()

#Creating a new column 'busiest_days'
df['busiest_days'] = df['order_dow'].apply(
    lambda x: 'Busiest days' if x in busiest_days else ('Slowest days' if x in slowest_days else 'Regular days')
)

In [103]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days
0,2539329,1,1,2,8,11.114836,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular days
1,2539329,1,1,2,8,11.114836,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regular days
2,2539329,1,1,2,8,11.114836,12427,3,0,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regular days
3,2539329,1,1,2,8,11.114836,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regular days
4,2539329,1,1,2,8,11.114836,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regular days

• Checking the values of this new column for accuracy

In [32]:
# Grouping by 'orders_day_of_week (order_dow)' and counting occurrences of each label in 'busiest_days' column
busiest_days_check = df.groupby('order_dow')['busiest_days'].value_counts()

In [110]:
# Displaying the result
print(busiest_days_check)

order_dow  busiest_days
0          Busiest days    6204182
1          Busiest days    5660230
2          Regular days    4213830
3          Slowest days    3840534
4          Slowest days    3783802
5          Regular days    4205791
6          Regular days    4496490
Name: count, dtype: int64

In [12]:
#Observations on the busiest_days Column:

 # Busiest Days: Sunday and Monday are correctly labeled as the busiest days with the highest order counts.
 # Regular Days: Tuesday, Friday, and Saturday are accurately labeled as regular days with intermediate order counts.
 # Slowest Days: Wednesday and Thursday are correctly labeled as the slowest days with the lowest order counts.

#The labeling in the busiest_days column is accurate with no observed discrepancies.

Creating the busiest_period_of_day column with labels "Most orders," "Average orders," and "Fewest orders," to identify the busiest periods of time:

In [37]:
#Step 1: Calculating order frequency by hour. Value_counts() calculates how many orders occur in each hour, and sort_values() sorts them in descending order.
hourly_order_counts = df['order_hour_of_day'].value_counts().sort_values(ascending=False)

In [39]:
#Step 2: Determining thresholds for labeling. Quantile(0.67) and quantile(0.33) determine the thresholds for the top third ("Most orders") and bottom third ("Fewest orders").
most_orders_threshold = hourly_order_counts.quantile(0.67)
fewest_orders_threshold = hourly_order_counts.quantile(0.33)

In [43]:
# Step 3: Creating the 'busiest_period_of_day' column. 
df['busiest_period_of_day'] = df['order_hour_of_day'].apply(
    lambda x: 'Most orders' if hourly_order_counts[x] > most_orders_threshold else
              ('Fewest orders' if hourly_order_counts[x] <= fewest_orders_threshold else 'Average orders'))

• Display the updated 'ords_prods_merge' data frame addition:

In [46]:
df[['order_hour_of_day', 'busiest_period_of_day']].head()

   order_hour_of_day busiest_period_of_day
0                  8        Average orders
1                  8        Average orders
2                  8        Average orders
3                  8        Average orders
4                  8        Average orders

In [49]:
# Printing the frequency of each label flag in the new 'busiest_period_of_day' column
busiest_period_freq = df['busiest_period_of_day'].value_counts()

# Display the result
print(busiest_period_freq)

busiest_period_of_day
Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: count, dtype: int64