In [1]:
#Importing libraries: pandas, NumPy, and os
import pandas as pd
import numpy as np
import os

In [3]:
#Importing data frame 
df = pd.read_csv(r'C:\Users\isaac\Documents\CareerFoundry\2. Data Inmersion\4. Python Fundamentals for Data Analysts\07-2024 Instacart Basket Analysis\02 Data\Original Data\4.9_customers\customers.csv', index_col = False)

In [21]:
df.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

• Data wrangling process:

In [17]:
#Looking for data form and structure:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [15]:
#Looking for data form and structure:

df.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [29]:
#Renaming columns for consistency
df_1 = df.rename(columns={'Surnam': 'Surname', 'STATE': 'state'})

#Converting data types to more memory-efficient ones
df_1['user_id'] = df_1['user_id'].astype('int32')
df_1['Age'] = df_1['Age'].astype('int8')
df_1['n_dependants'] = df_1['n_dependants'].astype('int8')
df_1['income'] = df_1['income'].astype('int32')

df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int32
 1   First Name    194950 non-null  object
 2   Surname       206209 non-null  object
 3   Gender        206209 non-null  object
 4   state         206209 non-null  object
 5   Age           206209 non-null  int8
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int8
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int32
dtypes: int32(2), int8(2), object(6)
memory usage: 11.4+ MB

----------------------------------------------------------------------------------------------------

• Performing data consistency checks: Finding and addressing mixed data types, missing values, and duplicate records

In [33]:
#Checking for mixed data types
for col in df_1.columns:
    if df_1[col].apply(type).nunique() > 1:
        print(f"Column '{col}' has mixed data types.")

Column 'First Name' has mixed data types.

In [37]:
#Converting 'First Name' column to a single data type:
df_1['First Name'] = df_1['First Name'].astype(str)

In [47]:
#Re-checking the data type of 'First Name'
print(df_1['First Name'].apply(type).nunique())

1

-------------------------------------------------------------------------------------------------

In [52]:
#Checking for missing values
missing_values = df_1.isnull().sum()
print(missing_values[missing_values > 0])

Series([], dtype: int64)

----------------------------------------------------------------------------------------------------

In [55]:
#Checking for duplicates
duplicate_rows = df_1[df_1.duplicated()]
print(f"Number of duplicate rows: {duplicate_rows.shape[0]}")

Number of duplicate rows: 0

In [57]:
#Checking 'df_1'
df_1.info()
df_1.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int32
 1   First Name    206209 non-null  object
 2   Surname       206209 non-null  object
 3   Gender        206209 non-null  object
 4   state         206209 non-null  object
 5   Age           206209 non-null  int8
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int8
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int32
dtypes: int32(2), int8(2), object(6)
memory usage: 11.4+ MB

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

---------------------------------------------------------------------------------------------------

• Combining 'customer.csv' data with the rest of prepared Instacart data:

In [61]:
#Loading the prepared data
file_path = r'C:\Users\isaac\Documents\CareerFoundry\2. Data Inmersion\4. Python Fundamentals for Data Analysts\07-2024 Instacart Basket Analysis\02 Data\Prepared Data\4.3_orders_products\ords_prods_merge_4.8.pkl'
ords_prods_merge = pd.read_pickle(file_path)

In [75]:
ords_prods_merge.head(3)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_days_since_prior,order_frequency_flag
0,2539329,1,1,2,8,11.114836,196,1,0,both,...,9.0,Mid-range product,Regular days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
1,2539329,1,1,2,8,11.114836,14084,2,0,both,...,12.5,Mid-range product,Regular days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
2,2539329,1,1,2,8,11.114836,12427,3,0,both,...,4.4,Low-range product,Regular days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer

In [77]:
#Checking data types of key columns
print(df_1['user_id'].dtype)
print(ords_prods_merge['user_id'].dtype)

int32
int64

• Combining the DataFrames:

In [80]:
# Merge the DataFrames on the key column 'user_id'
combined_df = ords_prods_merge.merge(df_1, on='user_id', how='inner')

In [82]:
combined_df.shape

(32404859, 32)

In [84]:
#Exporting the combined DataFrame as a pickle file
combined_file_path = r'C:\Users\isaac\Documents\CareerFoundry\2. Data Inmersion\4. Python Fundamentals for Data Analysts\07-2024 Instacart Basket Analysis\02 Data\Prepared Data\4.3_orders_products\combined_df.pkl'
combined_df.to_pickle(combined_file_path)